<div class="players">
	<div class="pagetitle">
		<h1>Edit Player</h1>
	</div>
	<div>
		<h2><%= @player.name %></h2>
		<%= form_for @player do |f| %>
			<%= f.hidden_field(:id) %>
			<p>
				<%= f.label(:name) %>:
				<%= f.text_field(:name) %>
			</p>
			<p>
				<%= f.label(:email) %>:
				<%= f.text_field(:email) %>
			</p>
			<p>
				<%= f.label(:bio) %>:
				<%= f.text_field(:bio, :size => 75) %>
			</p>
			<p>
				<%= f.label(:team) %>:
				<%= f.collection_select(:team, @teams, :id, :name) %>
			</p>
			<p>
				<%= f.submit("Edit Player") %>
			</p>
		<% end %>
	</div>
</div>


