<div class="players">
	<div class="pagetitle">
		<h1>Create New Player</h1>
	</div>
	<div>
		<%= form_for Player.new do |f| %>
			<p>
				<%= f.label(:name) %>:
				<%= f.text_field(:name) %>
			</p>
			<p>
				<%= f.label(:bio) %>:
				<%= f.text_field(:bio, :size => 75) %>
			</p>
			<p>
				<%= f.label(:team) %>:
				<%= f.collection_select(:team, @teams, :id, :name) %>
			</p>
			<p>
				<%= f.submit("Create Player") %>
			</p>
		<% end %>
	</div>
</div>


