<div class="bios">

	<div class="pagetitle">
		<h1>Report for Week <%= @match.challonge_week %></h1>
	</div>

	<div>
		<h2><%= @match.team.name %> vs.	<%= @match.challenger.name %></h2>
	</div>

	<div>
		<%= form_for @match do |f| %>
			<p>
				<%= f.label(:winner) %>:
				<%= collection_select :winner, :id, Team.where("id = ? or id =  ?", @match.team.id, @match.challenger.id), :id, :name %>
			</p>
			<p>
				<%= f.label("Games") %>:
				<%= f.text_field(:challonge_match_csv, :placeholder => "0-0") %>
			</p>
			<h3>
				Individual Match Results
			</h3>
			<p>
				<em>Select individual match winners. (Leave any unnecessary fields blank.)</em>
			</p>
			<% index = 1 %>
			<% @team_players.each do |player| %>
				<% @challenger_players.each do |challenger| %>
					<p>
						<%= "#{player.name} and #{challenger.name}: " %>
						<%= collection_select index, :id, Player.where("id = ? or id = ?", player.id, challenger.id), :id, :name, {:include_blank => "Please select"} %>
					</p>
					<% index += 1 %>
				<% end %>
			<% end %>
			<p>
				<%= f.submit("Submit Result") %>
			</p>
		<% end %>
	</div>
</div>