<div class="players">
	<div class="pagetitle">
		<h1>Week <%= @match.challonge_week %></h1>
	</div>
	<div>
		<h2><%= @match.team.name %> vs.	<%= @match.challenger.name %></h2>
	</div>
	<div>
		<% if @match.winner == nil %>
			<% if logged_in? %>
				<% player = Player.find_by(user_id: current_user.id) %>
				<% if current_user.admin || player.teams.include?(@match.team) || player.teams.include?(@match.challenger) %>
					<p>
						<%= link_to "Email your opponents.", @email_link %>
					</p>
					<p>
						<a href="/matches/<%= @match.id %>/edit">Report your result!</a>
					</p>
				<% end %>
			<% else %>
				<p>
					No result reported.
				</p>
			<% end %>
		<% else %>
			<p>
				<%= @winner.name %> won <%= @match.challonge_match_csv %>.
			</p>
		<% end %>
	</div>
</div>