<!DOCTYPE html>
<html>
<head>
  	<title>Team Draft League</title>
  	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
<div class="wrap">
	
	<div class="nav">
		<a href="/">Home</a> | <a href="/players">Players</a> | <a href="/teams">Teams</a> | <a href="/schedule">Schedule</a> | <a href="/seasons">Previous Seasons</a> | <% if logged_in? %><a href="/users/<%= current_user.id %>"><%= current_user.name %></a> | <a href="/signout">Sign Out</a><% else %><a href="/session/new">Sign In</a><% end %><% if check_admin %> | <a href="/admin">Admin</a><% end %>
	</div>

	<div class='homelogo'>
		<div class='logo'>
		</div>
	</div>

	<% if flash[:error] %>
		<div class="error">
			<%= flash[:error] %>
		</div>
	<% elsif flash[:success] %>
		<div class="success">
			<%= flash[:success] %>
		</div>
	<% end %>


	<%= yield %>

</div>
</body>
</html>
